.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/zmk-config-corne-chocofi-with-niceview/FileContentIndex/22dc6c1b-91c4-40d1-8376-be066ad857c0.vsidx
.vs/zmk-config-corne-chocofi-with-niceview/FileContentIndex/74ee9007-2796-4815-be60-7f3911d2ade7.vsidx
.vs/zmk-config-corne-chocofi-with-niceview/v17/.wsuo
.vs/zmk-config-corne-chocofi-with-niceview/v17/DocumentLayout.json
.vs/zmk-config-corne-chocofi-with-niceview/v17/TestStore/0/000.testlog
.vs/zmk-config-corne-chocofi-with-niceview/v17/TestStore/0/testlog.manifest
