/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };
};

&lt {
    tapping-term-ms = <170>; // Default is 200ms; decrease for faster layer activation
};

/ {
    combos {
        compatible = "zmk,combos";

        ctrl_two {
            bindings = <&kp LCTRL>;
            key-positions = <20 32>;
            layers = <1 2 3 4 0>;
            timeout-ms = <70>;
        };

        r_ctrl_two {
            bindings = <&kp RCTRL>;
            key-positions = <29 33>;
            layers = <1 2 3 4>;
            timeout-ms = <70>;
        };

        // ZXCV

        shift {
            bindings = <&sk LSHFT>;
            key-positions = <20 21>;
            layers = <0 1 2 3 4>;
        };

        ctrl {
            bindings = <&sk LCTRL>;
            key-positions = <21 22>;
            layers = <0 1 2 3 4>;
        };

        win {
            bindings = <&sk LEFT_WIN>;
            key-positions = <22 23>;
            layers = <0 1 2 3 4>;
        };

        ls_ctrl {
            bindings = <&sk LC(LEFT_SHIFT)>;
            key-positions = <20 21 22>;
            layers = <0 1 2 3 4>;
        };

        l_ctrl_win {
            bindings = <&sk LC(LEFT_WIN)>;
            key-positions = <21 22 23>;
            layers = <0 1 2 3 4>;
        };

        win_shift {
            bindings = <&sk LS(LEFT_WIN)>;
            key-positions = <20 23>;
            layers = <0 1 2 3 4>;
        };

        //Other Side

        shift_enter {
            bindings = <&mt RIGHT_SHIFT ENTER>;
            key-positions = <28 29>;
            layers = <0 1 2 3 4>;
        };

        r_ctrl {
            bindings = <&sk RCTRL>;
            key-positions = <28 27>;
            layers = <0 1 2 3 4>;
        };

        r_win {
            bindings = <&sk LEFT_WIN>;
            key-positions = <26 27>;
            layers = <0 1 2 3 4>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
            layers = <0 1>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <0 1 32>;
            layers = <0 1>;
        };

        //Other Combos

        printscreen {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <24 23 32>;
            layers = <0 1>;
        };

        record {
            bindings = <&kp LG(LA(G))>;
            key-positions = <22 23 24 32>;
            layers = <0 1>;
        };

        apostrophe {
            bindings = <&as APOS>;
            key-positions = <18 19>;
            layers = <2>;
        };

        r_ctrl_shift {
            bindings = <&sk RC(RIGHT_SHIFT)>;
            key-positions = <29 28 27>;
            layers = <0 1>;
        };

        r_win_ctrl {
            bindings = <&sk LC(LEFT_WIN)>;
            key-positions = <28 27 26>;
            layers = <0 1>;
        };

        r_shift_win {
            bindings = <&sk LS(LEFT_WIN)>;
            key-positions = <26 29>;
            layers = <0 1>;
        };

        toOne {
            bindings = <&to_typing>;
            key-positions = <1 2 7 8>;
            layers = <0>;
        };

        toZero {
            bindings = <&to_gaming>;
            key-positions = <1 2 7 8>;
            layers = <1>;
        };

        l_game_shift {
            bindings = <&kp LSHFT>;
            key-positions = <10 32>;
            timeout-ms = <65>;
            layers = <0 1>;
        };

        esc_two {
            bindings = <&kp ESCAPE>;
            key-positions = <0 32>;
            layers = <0 1 2 3>;
        };

        r_game_shift {
            bindings = <&kp RIGHT_SHIFT>;
            key-positions = <19 33>;
            layers = <0 1>;
        };

        instant_win {
            bindings = <&kp LEFT_WIN>;
            key-positions = <24 23>;
            layers = <0 1>;
        };
    };

    behaviors {
        as_ht: autoshift_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTOSHIFT_HOLD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <80>;
            bindings = <&shifted>, <&kp>;
        };

        m_lt_ctrls: m_lt_ctrls {
            compatible = "zmk,behavior-tap-dance";
            label = "M_LT_CTRLS";
            #binding-cells = <0>;
            bindings = <&lt 2 M>, <&lt 0 M>;

            tapping-term-ms = <170>;
        };

        volume_updown: volume_updown {
            compatible = "zmk,behavior-tap-dance";
            label = "VOLUME_UPDOWN";
            #binding-cells = <0>;
            bindings = <&kp C_VOLUME_UP>, <&kp C_VOLUME_DOWN>;
        };

        rep_mo3: rep_mo3 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <170>;
            bindings = <&mo>, <&smart_repeat>;
        };

        smart_repeat: smart_repeat {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&key_repeat>;

            a_nd {
                trigger-keys = <A>;
                bindings = <&macro_nd>;
            };
            i_ng {
                trigger-keys = <I>;
                bindings = <&macro_ng>;
            };
            y_ou {
                trigger-keys = <Y>;
                bindings = <&macro_you>;
            };
            spc_the {
                trigger-keys = <SPACE>;
                bindings = <&macro_the>;
            };
            n_ion {
                trigger-keys = <N>;
                bindings = <&macro_ion>;
            };
            t_tion {
                trigger-keys = <T>;
                bindings = <&macro_tion>;
            };
            v_vsc {
                trigger-keys = <V>;
                bindings = <&macro_vsc>;
            };
            s_ion {
                trigger-keys = <S>;
                bindings = <&macro_ion>;
            };
            c_ion {
                trigger-keys = <C>;
                bindings = <&macro_ion>;
            };
            p_h {
                trigger-keys = <P>;
                bindings = <&macro_ph>;
            };
        };
    };

    macros {
        shifted: macro_shifted_kp {
            #binding-cells = <1>;
            label = "MACRO_SHIFTED_KP";
            compatible = "zmk,behavior-macro-one-param";
            bindings =
                <&macro_press>,
                <&kp LSHFT &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LSHFT>;
        };

        as: autoshift {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            label = "AUTOSHIFT_KP";
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &macro_param_1to2 &as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &macro_param_1to2 &as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>;
        };

        to_typing: to_typing {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&macro_tap>, <&kp LC(LA(F13)) &to 1>;
        };

        to_gaming: to_gaming {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&macro_tap>, <&kp LC(LA(F14)) &to 0>;
        };

        to_graphite: to_graphite {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&macro_tap>, <&kp LC(LA(F15)) &to 0>;
        };

        macro_nd: macro_nd {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings = <&kp N &kp D>;
        };

        macro_ng: macro_ng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp G>;
        };

        macro_you: macro_you {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp U>;
        };

        macro_the: macro_the {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp H &kp E &kp SPACE>;
        };

        macro_ion: macro_ion {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp O &kp N>;
        };

        macro_tion: macro_tion {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp O &kp N>;
        };      

        macro_vsc: macro_vsc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp C>;
        };  

        macro_ph: macro_ph {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp H>;
        };  
    };

    keymap {
        compatible = "zmk,keymap";

        graphite {
            label = "graphite";
            bindings = <
  &kp B  &kp L  &kp D         &kp W    &kp Z        &as APOS   &kp F  &kp O       &kp U    &kp J
  &kp N  &kp R  &kp T         &kp S    &kp G        &kp Y      &kp H  &kp A       &kp E    &kp I
  &kp Q  &kp X  &kp M         &kp C    &kp V        &kp K      &kp P  &as COMMA   &as DOT  &as FSLH
                &kp LEFT_ALT  &lt 2 M  &kp SPACE    &kp ENTER  &rep_mo3 3 0  &kp DELETE
            >;
        };

        typing {
            label = "typing";
            bindings = <
  &as B  &as L  &as D         &as W    &as Z        &as APOS   &as F  &as O       &as U    &as J
  &as N  &as R  &as T         &as S    &as G        &as Y      &as H  &as A       &as E    &as I
  &as Q  &as X  &as M         &as C    &as V        &as K      &as P  &as COMMA   &as DOT  &as FSLH
                &kp LEFT_ALT  &lt 2 M  &kp SPACE    &kp ENTER  &rep_mo3 3 0  &kp DELETE
            >;
        };

        f_keys {
            label = "f_keys";
            bindings = <
  &kp F1  &kp F2   &kp F3   &kp F4   &as GRAVE         &kp C_VOLUME_UP    &caps_word  &trans        &kp CAPSLOCK   &none
  &kp F5  &kp F6   &kp F7   &kp F8   &volume_updown    &kp C_VOLUME_DOWN  &kp DEL     &kp UP_ARROW  &kp BACKSPACE  &as SEMI
  &kp F9  &kp F10  &kp F11  &kp F12  &sk LSHIFT        &none              &kp LEFT    &kp DOWN      &kp RIGHT      &none
                   &trans   &trans   &trans            &trans             &mo 4       &trans
            >;
        };

        math {
            label = "math";
            bindings = <
  &none                 &none                  &none             &none              &none             &none            &as NUMBER_7  &as NUMBER_8  &as NUMBER_9  &kp BACKSPACE
  &kp ASTERISK          &kp SLASH              &kp PLUS          &kp MINUS          &as MINUS         &as EQUAL        &as NUMBER_4  &as NUMBER_5  &as NUMBER_6  &as BACKSLASH
  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &as LEFT_BRACKET  &as RIGHT_BRACKET  &kp LEFT_BRACE    &kp RIGHT_BRACE  &as NUMBER_1  &as NUMBER_2  &as NUMBER_3  &kp PERIOD
                                               &trans            &mo 4              &kp NUMBER_0      &trans           &trans        &kp N0
            >;
        };

        bt {
            label = "bt";
            bindings = <
  &trans  &trans      &bt BT_SEL 0  &trans        &trans    &trans  &kp PRINTSCREEN  &kp SCROLLLOCK  &kp PAUSE_BREAK  &trans
  &trans  &bt BT_PRV  &bt BT_SEL 1  &bt BT_NXT    &trans    &trans  &kp INSERT       &kp HOME        &kp PAGE_UP      &trans
  &trans  &to_gaming  &to_typing    &to_graphite  &trans    &trans  &kp DELETE       &kp END         &kp PAGE_DOWN    &bt BT_CLR
                      &trans        &trans        &trans    &trans  &trans           &trans
            >;
        };
    };
};
